# Problem 1: Unique Words in a Sentence

In [3]:
# Take input from user
s=input("Enter sentence: ")
# Split sentence into words
words=s.split()
# Convert list to set to remove duplicates
unique=set(words)
print("Unique words count:", len(unique))
print("Unique words:", unique)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'is', 'and', 'python', 'easy', 'powerful'}

# Problem 2: Highest Salary from Employee Data

In [12]:
# Dictionary of employees and salaries
emp= {"Ravi": 75000,"Anita": 68000,"Kiran": 72000}
# Finding employee with highest salary
high_emp = max(emp, key=emp.get)
print("Highest Salary:", high_emp, "-", emp[high_emp])

Highest Salary: Ravi - 75000

# Problem 3: Find Maximum and Minimum Values

In [14]:
# Given list
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with first element
max_num = numbers[0]
min_num = numbers[0]

# Comparing each element using loop
for i in numbers:
    if i>max_num:
        max_num= i
    if i< min_num:
        min_num= i

print("List:", numbers)
print("Max:", max_num)
print("Min:", min_num)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

# Problem 4: Count Products Above a Price Threshold

In [15]:
# List of product prices
prices = [450, 1200, 899, 1500, 300]
# Initialize counter
count = 0
# Loop through prices with check condition for prices above 1000
for price in prices:
    if price > 1000:
        count += 1
print("Products above 1000:", count)

Products above 1000: 2

# Problem 5: Calculate Attendance Percentage

In [16]:
# Attendance list
attendance = ["P", "P", "A", "P", "P"]
# Count present days
present_count = 0
for status in attendance:
    if status== "P":
        present_count+= 1
# Total days
total_days= len(attendance)
# Calculate percentage
percentage =(present_count / total_days)*100
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

# Problem 6: Remove Duplicate Phone Numbers

In [17]:
# List of phone numbers
p_nums = [9876543210, 9123456789, 9876543210]
# Convert list to set to remove duplicates
unique_nums = set(p_nums)
print("Unique phone numbers:", unique_nums)

Unique phone numbers: {9876543210, 9123456789}

# Problem 7: Count Character Frequency

In [18]:
# Given string
text = "pythonp"
# Initialize empty dictionary
char_count = {}
# Loop through each character
for ch in text:
    if ch in char_count:
        char_count[ch]+= 1
    else:
        char_count[ch]= 1
print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

# Problem 8: Convert List to Tuple

In [19]:
# Given list
numbers = [10, 20, 30]
# Convert list to tuple
numbers_tuple = tuple(numbers)
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

# Problem 9: Check if a Key Exists in a Dictionary

In [20]:
# Dictionary
employees = {"Ravi": 75000,"Anita": 68000,"Kiran": 72000}
# Key to check
key = "Ravi"
# Check if key exists
if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

# Problem 10: Calculate Average Marks

In [21]:
# List of marks
marks =[65, 70, 80, 75]
# Calculate sum of marks
total =sum(marks)

# Calculate number of subjects
count =len(marks)

# Calculate average
average= total/count
print("Average Marks:", average)

Average Marks: 72.5